<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
    <link rel="stylesheet" href="blogstyle.css">
</head>
<body>
    <header>
        <h1>Create a New Post</h1>
        <nav>
            <a href="/posts">Back</a>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        <form action="/post" method="POST">
            <div class="form-group">
                <h3>Title</h3>
                <label for="title"></label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <h3>Content</h3>
                <label for="content"></label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <button type="submit">Post</button>
        </form>
    </main>
</body>
</html>
