<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
</head>
<body>
    <header>
        <h1>Create a New Post</h1>
    </header>

    <main>
        <form action="/post" method="POST">
            <label for="topic">Topic:</label>
            <input type="text" id="topic" name="topic" required>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
            <button type="submit">Post</button>
        </form>
        <a href="posts">Back<a>
        <a href="/">Home<a>
    </main>
</body>
</html>
