<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscle Memory - Login</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
    <div class="container">
        <!---If an error logging in display-->
        <h1>Muscle Memory - Login</h1>
        <% if (messages.error) { %>
            <p class="error-message"><%= messages.error %></p>
        <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="links">
            <a href="/register">Register</a> | <a href="/">Home</a>
        </div>
    </div>
</body>
</html>
