<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link rel="stylesheet" href="blogstyle.css">
</head>
<body>
    <header>
        <h1>All Posts</h1>
        <nav>
            <a href="/blog">Post a new comment!</a>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        <% posts.forEach(function(post) { %>
            <div class="post">
                <h2><%= post.title %> Post ID: <%= post.post_id %></h2>
                <p><%= post.content %></p>
                <p>Posted by: <%= post.poster %></p>
            </div>
        <% }); %>
    </main>
</body>
</html>
