<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
<head>
<body>
	<header>
		<h1>Settings</h1>
	</header>
	<p>Hello <%= name %>!</p>
	<p>Email : <%= email %></p>
	<form id="email-form" action="/update-email" method="POST">
		<div>
			<p>Change your email</p>
			<label for="email">New Email:</label>
			<input type="email" id="email" name="email">
		</div>
		<button type="submit">Change</button>
	</form>
	<form id="password-form" action="/update-password" method="POST">
		<div>
			<p>Change your password</p>
			<label for="newpassword">New Password:</label>
			<input type="newpassword" id="newpassword" name="newpassword">
			<label for="oldpassword">Old Password:</label>
			<input type="oldpassword" id="oldpassword" name="oldpassword">
		</div>
		<button type="submit">Change</button>
	</form>
	<a href='/'>Home</a>
	<a href='/dashboard'>Dashboard</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#email-form').on('submit', function(e) {
                e.preventDefault();
                $.post('/update-email', $(this).serialize(), function(data) {
                    if (!data.success) {
                        alert(data.message);
                    } else {
                        window.location.href = '/settings';
                    }
                });
            });

            $('#password-form').on('submit', function(e) {
                e.preventDefault();
                $.post('/update-password', $(this).serialize(), function(data) {
                    if (!data.success) {
                        alert(data.message);
                    } else {
                    	alert(data.message);
                        window.location.href = '/settings';
                    }
                });
            });
        });
    </script>
</body>
</html>
