body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: : column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="text"]#title {
    width: 600px;
    height: 25px;
}

textarea#content {
    height: 200px;
    width: 600px;
    padding: 15px; 
    margin: 10px 0;
    box-sizing: border-box;
}

button, input[type="text"], textarea {
    display: block;
    margin: 10px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 10px;
    background-color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 16px;

}

button:hover {
    background-color: #555;
}

.post {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 4px;
}

a:hover {
    background-color: #bbb;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4;
    position: fixed;
    width: 100%;
    bottom: 0;
}
