body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #495057;
}

.error-message {
    color: #d9534f; 
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #343a40;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    background-color: #f8f9fa;
    color: #343a40;
}

button {
    width: calc(100% - 20px);
    background-color: #343a40;
    color: #f8f9fa;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #23272b;
}

.links a {
    color: #343a40;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
    color: #495057;
}
